@using ShopOnline.Common
@model List<ProductReadDto>
@{
    ViewData[index: "Title"] = "Product List";
}
<h1>@ViewData[index: "Title"]</h1>

<h2>Product List</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductReadDto product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString(format: "C")</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}

